{% extends "base.html" %}
{% load blog_tags %}
<style class="text/css">
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}
</style>
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>



    

<div class="container">
    <div class="row">
        <div class="card m-auto">
            <img class="card-image-top" src="{{post.image.url}}">
            <div class="card-body my-2">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body|safe}}</p>
            </div>
            <div class="card-footer text-muted">
                Published {{ post.publish }} by {{ post.author.username }}
            </div>
            <div class="card create-post-bar d-flex flex-column p-3">
                
                {% if not similar %}
                    <p>Have no similar posts</p>
                {% else %}
                    
                <h3>Similar posts:</h3>
                <ul> 
                    {% for post in similar %}
                        <h2>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h2>
                    {% endfor %}
                {%endif%}
                </ul>
            </div>
        </div>
    </div>
</div>
 
   
   

{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment {{ total_comments|pluralize }}</h2>
{% endwith %}
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form action="." method="post">
        {% csrf_token %}

        {{ comment_form.as_p }}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}
        
   
{% endblock %}

